.section-header {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* ------------ Header ------------ */

header {
  /* padding: 10px 30px; */
  height: 86px;
  background-color: var(--bg-primary-alt);
}

.header-container img {
  width: 155px;
  height: 46px;
  object-fit: contain;

  /* width: 155px;
  height: 40px; */
}

.header-container {
  padding: 10px 30px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container ul {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}


.sandwich {
  display: none;
}

/* ------------ Hero ------------ */

section.hero {
  background-image: url("/assets/bg/background-top.svg");
}

section.hero .hero-container {
  display: flex;
  align-items: center;
  padding: 0 30px;
  padding-top: 40px;
  /* height: 406px;  */
}

section.hero .hero-container .left,
section.hero .hero-container .right {
  width: 50%;
  height: 406px;
}

/* left of container */

section.hero .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

section.hero .hero-text {
  width: 375px;
  display: flex;
  flex-direction: column;
  gap: 11px;

}

section.hero .hero-text p,
section.hero .hero-text h1 {
  margin: 0;
}


/* right of container */
section.hero .icon-container {
  width: 100%;
  position: relative;
}

section.hero .icon-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

section.hero .icon-container div {
  position: absolute;
  border-radius: 50%;
  background-color: var(--bg-primary);
  box-shadow: var(--box-shadow-primary);
  border: 1px solid #E5E5E5;
  padding: 10px;
}

section.hero .icon-container .big {
  width: 80px;
  height: 80px;
}

section.hero .icon-container .small {
  width: 60px;
  height: 60px;
}

section.hero .icon-container #google {
  top: 10px;
  left: 64px;
}

section.hero .icon-container #attlasian {
  top: 10px;
  left: 175px;
}

section.hero .icon-container #asana {
  top: 10px;
  left: 388px;
}

section.hero .icon-container #paypal {
  top: 172px;
  left: 44px;
}

section.hero .icon-container #weave {
  top: 172px;
  left: 262px;
}

section.hero .icon-container #google-ads {
  top: 290px;
  left: 155px;
}

section.hero .icon-container #google-calendar {
  top: 310px;
  left: 364px;
}

/* ------------ Why ------------ */
section.why .why-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 30px;
  padding-bottom: 30px;
  gap: 40px;
}

section.why .bullet-list {
  width: 100%;
}

section.why .bullet-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
}

section.why .bullet-list li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 224px;
}

section.why .bullet-list .circle {
  width: 50px;
  height: 50px;
  background-color: #ecf2ff;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.why .bullet-list .circle-inner {
  width: 6px;
  height: 6px;
  background-color: #06f;
  border-radius: 25px;
}


/* section.why .bullet-list .circle::before {
  display: block;
  content: "";
  height: 1px;
  background-color: #e6e9f2;
} */

/* TODO: switch to grid */
/* ------------ Pricing ------------ */
section.pricing .pricing-container {
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

section.pricing img {
  width: 50px;
  height: 50px;
}

section.pricing .plan-features {
  width: 100%;
  height: 452px;
  display: flex;
  gap: 30px;
  text-align: left;
  padding: 0 30px;
}

/* section.pricing .plan-features {
  display: grid;
  grid-template-areas: 
  "plan feats feats feats";
} */

section.pricing .plan {
  grid-area: plan;
  min-width: 370px; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: var(--box-shadow-primary);
}

section.pricing .plan-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

section.pricing .plan-header p:first-child {
  font-size: 1.25rem;
  font-weight: 510;
}
section.pricing .plan-header span.price {
  font-size: 3.125rem;
  font-weight: 500;
  color: black;
}

section.pricing .plan-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  font-size: 0.75rem;
}

section.pricing .features {
  grid-area: feats;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  /* width: 277px; */
}

section.pricing .feature-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
  /* width: 277px; */
  /* ( max width - gap ) / 2 */
  max-width: calc((100% - 10px) / 2);
}

/* section.pricing .feature-item p {
  font-size: 0.875rem;
} */

/* ------------ Hire Us ------------ */

section.hire {
  padding: 30px;
  background-color: var(--bg-secondary);
}

section.hire img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

section.hire h3, section.hire h2 {
  color : var(--text-secondary);
}

section.hire .hire-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* height: 648px; */
  gap: 60px;
}

section.hire .left,
section.hire .right {
  width: 50%;
}

section.hire .left {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 30px;
}

section.hire .left-header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* width: 370px; */
}

section.hire .left-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section.hire .right {
  background-color: var(--bg-primary);
  height: 100%;
  border-radius: 10px;
  padding: 35px;
}

section.hire form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
  align-items: center;
}

section.hire .form-group {
  display: flex;
  gap: 20px;
  width: 100%;
}


section.hire input,
section.hire select,
section.hire textarea {
  border-radius: 5px;
  border: 1px solid #e6e8f2;;
  height: 44px;
  width: 100%;
}

section.hire input::placeholder,
section.hire select::placeholder,
section.hire textarea::placeholder {
  padding: 5px;
}



section.hire input[type="checkbox"] {
  margin: 0;
  width: 50px;
  height: 50px;
}

section.hire textarea {
  height: 150px;
}

section.hire label[for="marketing-opt"] {
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

section.hire .privacy-container {
  font-weight: 700;
  display: flex;
  gap: 28px;
}

section.hire .privacy-container > * {
  text-decoration: underline;

}

/* ------------ Footer ------------ */

.footer-container {
  padding: 40px 30px;
  display: flex;
  gap: 40px;
  font-size: 14px;
  font-weight: 510;
}

.footer-container h3 {
  margin-bottom: 20px;
}

.footer-container img {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-container .attn {
  font-size: 0.5rem;
  border-radius: 3px;
  padding: 2px 4px;
}

.footer-container .footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 49px;
}

.footer-container ::before {
  font-family: FontAwesome;
  margin-right: 8px;
}

.footer-container #address::before {
  content: "\f124";;
}

.footer-container #phone::before {
  content: "\f095";
}

.footer-container #info::before {
  content: "\f05a";
}

.footer-container #account::before {
  content: "\f2bd";
}

